@charset "utf-8";
/* CSS Document */

body {
	background-color: #080019;
	font-family: Roboto, sans-serif;
	color: #FFFFFF;	
	text-align: center;

}

h1 {
	color:white;
	font-family: 'Merriweather', serif;
	
}

h2 {
	color:#D8EDC2;
	font-family:Roboto, sans-serif;

}

p {
	color:white;
	font-family:Roboto, sans-serif;
}

a {
	color:white;
	
	font-family:Roboto, sans-serif;
}

a:link {
	color: #FFFFFF;
	text-decoration:none;
}
a:visited {
	color: #FFFFFF;
	text-decoration:none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color: #0d1;
}