@charset "utf-8";
/* CSS Document */

body {
	background-image:url(william-wilson-17-1-ben-s-artwork4.jpg);
	font-family: Roboto, sans-serif;
	color: #FFFFFF;	
	max-width:1920px;
	max-height:1920px;
	margin:0;
	overflow: hidden;
}

h1 {
	color:white;
	font-family: 'Merriweather', serif;
	
}

h2 {
	color:#D8EDC2;
	font-family:Roboto, sans-serif;

}

p {
	color:white;
	font-family:Roboto, sans-serif;
}

a {
	color:white;
	
	font-family:Roboto, sans-serif;
}

a:link {
	color: #FFFFFF;
	text-decoration:none;
}
a:visited {
	color: #FFFFFF;
	text-decoration:none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color: #0d1;
}

.bar {

}

#header {
	width: 100%;
	float: left;
	height:10%;
}
#logo {
	width:475px;
	float:left;
	margin: 10px;
}
#social {
	float:left;
	text-align:right;
	width:475px;
}	

#container{
	background-color: #080019;
	width:950px;
	margin: 0 auto; 
	height:100vh;
}

.divider{
	background-color:#fff;
	height:3px;
	width:100%;
	float:left;
}

#main{
	width:100%;
	float:left;
	height:80%;
	text-align:center;
}

#footer{
	width: 100%;
	float: left;
	height:10%;
	margin:0;
	text-align:center;
}

